<div class="container" >
 <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
        <h1>Europe Data Platform</h1>
            <p>Insert Map Here (( Leaflet )) </p>
        </div>
    </div>
</div>
